@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --size-main-line: 130px;
    --size-contact-line: 450px;
    --color-trainer-100: #2E57B0;
    --color-trainer-101: #BE8433;
    --color-trainer-102: #40923B;
    --color-line-schedule: #A52921;
    --color-line-reviews: #000000
}

html, body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-contact:-webkit-autofill,
.input-contact:-webkit-autofill:hover,
.input-contact:-webkit-autofill:focus,
.input-contact:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
    caret-color: #fff;
}

.input-trainer:-webkit-autofill,
.input-trainer:-webkit-autofill:hover,
.input-trainer:-webkit-autofill:focus,
.input-trainer:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
    caret-color: #000;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

.scroll-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-hide::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Lemon';
    src: url('/fonts/lemonmilkrusbydaymarius.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    a {
        text-decoration: none;
    }
}

@layer components {
    .scroll-y {
        @apply overflow-y-auto
    }

    .main-container {
        @apply w-[1028px]
    }

    .main-center {
        @apply flex items-center justify-center
    }

    .btn-red-a {
        @apply flex justify-center items-center bg-[#A52921] text-white text-center w-[320px] h-[60px] font-lemon text-[16px] rounded-[5px]
    }

    .btn-red {
        @apply bg-[#A52921] text-white text-center w-[320px] h-[60px] font-lemon text-[16px] rounded-[5px]
    }

    .modal-screen {
        display: none;
    }

    .header-section-one {
        @apply bg-[rgba(165,41,33,0.25)] p-3 rounded-[25px] text-center text-[#A52921] font-lemon;
    }

    .desc-section-one {
        @apply font-lemon text-center h-[4rem] text-[28px];
    }

    .line-desc-section-one {
        border-bottom: 4px solid #A52921;
        @apply w-[120px]
    }

    .header-section-two {
        @apply bg-[rgba(254,254,254,0.25)] p-3 rounded-[25px] text-center text-[#FFF] font-lemon;
    }

    .desc-section-two {
        @apply font-lemon text-center text-[28px] text-[#FFF] mt-8 mb-8;
    }

    .line-desc-section-two {
        border-bottom: 4px solid #FFF;
        @apply w-[120px]
    }

    .section-m-top-28 {
        @apply mt-28
    }

    .section-p-top-28 {
        @apply pt-28
    }

    .bg-section-two {
        @apply w-full bg-[#2B2A28]
    }

    .bg-gradient {
        @apply w-full bg-gradient-to-b from-[#2B2A28] via-[#2B2A28] via-30% to-[#A52921]
    }

    .bg-footer {
        @apply w-full bg-[#A52921]
    }

    .btn-price {
        @apply w-[460px] h-[60px] rounded-[5px] text-[20px] text-white font-lemon
    }

    .close {
        @apply w-[30px] h-[30px] absolute top-[5px] right-[5px] bg-[url('/img/svg/close.svg')] bg-center bg-cover;
    }

    .error-contact-message {
        @apply text-white text-[16px] mb-4 text-center
    }

    .error-trainer-message {
        @apply text-black text-[16px] mb-4 text-center
    }
}

@media (max-width: 1028px) {
    .modal-screen {
        @apply w-[100vw] h-[100vh] flex items-center justify-center fixed z-[1] bg-[#0000002e];
    }
}

@media (max-width: 768px) {
    .btn-red-a {
        @apply w-[300px] h-[55px] text-[14px]
    }

    .btn-price {
        @apply w-[410px] text-[18px]
    }
}

@media (max-width: 525px) {
    :root {
        --size-main-line: 110px;
    }
}

@media (max-width: 425px) {
    .btn-red-a {
        @apply w-[280px]
    }

    .btn-red {
        @apply w-[280px] text-[13px]
    }

    .btn-price {
        @apply w-[325px] h-[48px] text-[16px]
    }
}

@media (max-width: 325px) {
    .btn-red-a {
        @apply w-[260px]
    }

    .btn-price {
        @apply w-[275px] text-[14px]
    }
}

@media (max-width: 324px) {
    html, body {
        display: none;
        overflow: hidden;
    }
}