@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --size-main-line: 130px;
}

html, body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

@font-face {
    font-family: 'Lemon';
    src: url('/fonts/lemonmilkrusbydaymarius.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    a {
        text-decoration: none;
    }
}

@layer components {
    .main-container {
        @apply w-[1028px]
    }

    .main-center {
        @apply flex items-center justify-center
    }

    .btn-red-a {
        @apply flex justify-center items-center bg-[#A52921] text-white text-center w-[320px] h-[60px] font-lemon text-[16px] rounded-[5px]
    }

    .btn-red {
        @apply bg-[#A52921] text-white text-center w-[320px] h-[60px] font-lemon text-[16px] rounded-[5px]
    }

    .modal-screen {
        display: none;
    }

    .header-section {
        @apply bg-[rgba(165,41,33,0.25)] p-3 rounded-[25px] text-center text-[#A52921] font-lemon;
    }

    .desc-section {
        @apply font-lemon text-center h-[4rem] text-[28px];
    }

    .line-desc-section {
        border-bottom: 4px solid #A52921;
        @apply w-[120px]
    }
}

@media (max-width: 1028px) {
    .modal-screen {
        @apply w-[100vw] h-[100vh] flex items-center justify-center fixed z-[1] bg-[#0000002e];
    }
}

@media (max-width: 768px) {
    .btn-red-a {
        @apply w-[300px] h-[55px] text-[14px]
    }
}

@media (max-width: 525px) {
    :root {
        --size-main-line: 110px;
    }
}

@media (max-width: 425px) {
    .btn-red-a {
        @apply w-[280px]
    }
}

@media (max-width: 325px) {
    .btn-red-a {
        @apply w-[260px]
    }
}

@media (max-width: 324px) {
    .main-center {
        display: none;
    }

    html, body {
        overflow: hidden;
    }
}
